h1 {
    color: blueviolet;
}
.nav-link:hover{
    background-color: white;
    color: #f4511e;
}
.nav-link{
    font-family: Monserrat, sans-serif;
    color: white;
    font-size: 12px;
}
.navbar-brand{
    font-family: Monserrat, sans-serif;
    color: white;
    font-size: 18px;
}
.company{
    font-family: Monserrat, sans-serif;
    color: white;
    font-size: 63px;
}
.sp{
    font-family: Monserrat, sans-serif;
    color: white;
    font-size: 21px;
}

.bg-orange{
    background-color: #f4511e;
}